<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam</title>
    <link rel="stylesheet" href="./css/exam.css">
</head>

<body>
    <main>
        <form action="/next" method="post">
            <div class="game-quiz-container">

                <div class="game-details-container">
                    <h1>Score : <span id="player-score">
                            <%= score %>
                        </span> / 10</h1>
                    <h1> Question : <span id="question-number">
                            <%= question_no %>
                        </span> / 10</h1>
                </div>

                <div class="game-question-container">
                    <h1 id="display-question">
                        <%= paper.question %>
                    </h1>
                </div>

                <div class="game-options-container">

                    <span>
                        <input type="radio" id="option-one" name="option" class="radio" value="<%= paper.opt1 %>" />
                        <label for="option-one" class="option" id="option-one-label">
                            <%= paper.opt1 %>
                        </label>
                    </span>


                    <span>
                        <input type="radio" id="option-two" name="option" class="radio" value="<%= paper.opt2 %>" />
                        <label for="option-two" class="option" id="option-two-label">
                            <%= paper.opt2 %>
                        </label>
                    </span>


                    <span>
                        <input type="radio" id="option-three" name="option" class="radio" value="<%= paper.opt3 %>" />
                        <label for="option-three" class="option" id="option-three-label">
                            <%= paper.opt3 %>
                        </label>
                    </span>


                    <span>
                        <input type="radio" id="option-four" name="option" class="radio" value="<%= paper.opt4 %>" />
                        <label for="option-four" class="option" id="option-four-label">
                            <%= paper.opt4 %>
                        </label>
                    </span>


                </div>

                <div class="next-button-container">
                    <input type="submit" value="Next Question">
                </div>

            </div>
        </form>
    </main>

</body>

</html>